/*-------------------------------------
		General css 
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a{
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	font-size:14px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}

ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}



/*-------------------------------------
            Haeder
--------------------------------------*/
.search-button,.menu-button,.search-input{
    border-style: none;
    height: 76px;
    width: 150px;
    margin-bottom: -10px;
    margin-top: -11px;
    margin-left: 2px;
}

.search-input {
    transition: width 0.3s;
    border: none;
    outline: none;
    display: none;

}

.close-search-button {
    height: 76px;
    width: 50px;
    margin-bottom: -10px;
    margin-top: -11px;
    background: #000000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}


/*-------------------------------------
            Overlay
--------------------------------------*/

.overlay {
    display: none; /* Default: hide the overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Background color hitam dengan transparansi */
    z-index: 9999;
}

.overlay-active {
    display: block; /* Show the overlay when the class is applied */
}

.overlay-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.overlay-content a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    margin: 20px 0;
    background: transparent;
    padding: 5px 10px; 
}

.overlay-content a:hover {
    color: #007BFF; 
}

.closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;

}


/*-------------------------------------
            Home
--------------------------------------*/
.welcome-hero {
    position: relative;
    background:url(../images/home/welcome-banner.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

/*.welcome-hero-txt*/
.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.welcome-hero-txt p {
    font-size: 19px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
}


/*-------------------------------------
        5. Service 
--------------------------------------*/
.service { padding: 260px 0 87px;}

.single-service-item{
    text-align: center;
    padding:55px 30px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid #dadfe9;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

.single-service-icon {
    display: inline-block;
    color: #50616c;
}
.single-service-item h2 a {
    font-size:20px;
    margin: 35px 0 20px;
}
.single-service-item h2 a span {text-transform:  lowercase;}
.single-service-item p {padding-bottom: 35px;text-transform: initial;position: relative;}
.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #3030ea;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-icon [class^="flaticon-"]:before,.single-service-icon[class*=" flaticon-"]:before,.single-service-icon [class^="flaticon-"]:after,.single-service-icon [class*=" flaticon-"]:after {font-size:60px;}
.single-service-item:hover .single-service-icon [class^="flaticon-"]:before,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:before,.single-service-item:hover .single-service-icon [class^="flaticon-"]:after,.single-service-item:hover .single-service-icon [class*=" flaticon-"]:after {color:#fff;}


.single-service-item:hover h2 a,.single-service-item:hover p{color: #fff;}
.single-service-item:hover  p:before {background: #fff;}
.single-service-item:hover{box-shadow: 0 12px 30px 0px rgba(0,1,193,.2);background: #4e4ffa;border: 1px solid #4e4ffa;}






/*-------------------------------------
                News
--------------------------------------*/

#main {
    margin-top: 90px;
  }

  /*--------------------------------------------------------------
  # Posts
  --------------------------------------------------------------*/
  .post-entry-1 {
    margin-bottom: 30px;
  }
  
  .post-entry-1 img {
    margin-bottom: 30px;
  }
  
  .post-entry-1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 500;
  }
  
  .post-entry-1 h2 a {
    color: var(--color-black);
  }
  
  .post-entry-1.lg h2 {
    font-size: 40px;
    line-height: 1;
  }
  
  .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-secondary);
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .custom-border {
      border: none !important;
    }
  }
  
  .author .photo {
    margin-right: 10px;
  }
  
  .author .photo img {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 0;
  }
  
  .author .name h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: var(--font-secondary);
  }
  
  .trending {
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
  }
  
  .trending>h3 {
    color: var(--color-black);
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
  }
  
  .trending .trending-post {
    padding: 0;
    margin: 0;
  }
  
  .trending .trending-post li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
  }
  
  .trending .trending-post li a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .trending .trending-post li a .number {
    position: absolute;
    z-index: -1;
    font-size: 5rem;
    left: -10px;
    top: -20px;
    font-weight: 700;
    color: rgba(var(--color-black-rgb), 0.05);
  }
  
  .trending .trending-post li a h3 {
    font-size: 18px;
    color: rgba(var(--color-black-rgb), 0.9);
  }
  
  .trending .trending-post li a .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
  }
  
  .trending .trending-post li a:hover h3 {
    color: rgba(var(--color-black-rgb), 1);
  }
  
  .trending .trending-post li:last-child a {
    border-bottom: none;
  }
  
  .post-entry-2 {
    margin-bottom: 30px;
  }
  
  .post-entry-2 .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-secondary);
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
  }
  
  .post-entry-2 .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }
  
  .post-entry-2 .thumbnail {
    flex: 0 0 65%;
  }
  
  @media (max-width: 960px) {
    .post-entry-2 .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .post-entry-2.half .thumbnail {
    flex: 0 0 50%;
  }
  
  @media (max-width: 768px) {
    .post-entry-2.half .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .post-entry-2.small-img .thumbnail {
    flex: 0 0 30%;
  }
  
  @media (max-width: 768px) {
    .post-entry-2.small-img .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .img-bg {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
  }
  
  @media (max-width: 768px) {
    .img-bg {
      height: 400px;
    }
  }
  
  .img-bg:before {
    position: absolute;
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
  }
  
  .img-bg .img-bg-inner {
    position: relative;
    z-index: 2;
    max-width: 700px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  
  @media (max-width: 768px) {
    .img-bg .img-bg-inner {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 50px;
    }
  }
  
  .img-bg .img-bg-inner h2,
  .img-bg .img-bg-inner p {
    color: var(--color-white);
  }
  
  @media (max-width: 500px) {
    .img-bg .img-bg-inner p {
      display: none;
    }
  }
  
  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
  
  @media (max-width: 768px) {
  
    .custom-swiper-button-next,
    .custom-swiper-button-prev {
      display: none;
    }
  }
  
  .custom-swiper-button-next span,
  .custom-swiper-button-prev span {
    font-size: 20px;
    color: rgba(var(--color-white-rgb), 0.7);
    transition: 0.3s all ease;
  }
  
  .custom-swiper-button-next:hover span,
  .custom-swiper-button-next:focus span,
  .custom-swiper-button-prev:hover span,
  .custom-swiper-button-prev:focus span {
    color: rgba(var(--color-white-rgb), 1);
  }
  
  .custom-swiper-button-next {
    right: 40px;
  }
  
  .custom-swiper-button-prev {
    left: 40px;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(var(--color-white-rgb), 0.8);
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(var(--color-white-rgb), 1);
  }
  
  .more {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .more:before {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-black);
  }
  
  .post-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  @media (max-width: 768px) {
    .post-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .post-content .firstcharacter {
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
  
  .post-content figure {
    position: relative;
    left: 52%;
    min-width: 990px;
    transform: translateX(-50%);
  }
  
  @media (max-width: 1255px) {
    .post-content figure {
      min-width: auto;
      left: auto !important;
      transform: none;
    }
  }
  
  .post-content figure figcaption {
    font-family: var(--font-secondary);
    font-size: 14px;
    padding: 10px 0 0 0;
  }
  
  .aside-title,
  .category-title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--color-black);
  }
  
  .category-title {
    border-bottom: none;
  }
  
  .custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-family: var(--font-secondary);
    margin: 5px;
    transition: 0.3s all ease;
  }
  
  .custom-pagination a.active {
    background: var(--color-black);
    color: var(--color-white);
  }
  
  .custom-pagination a.active:hover {
    background: rgba(var(--color-black-rgb), 0.9);
  }
  
  .custom-pagination a:hover {
    background: rgba(var(--color-black-rgb), 0.1);
  }
  
  .custom-pagination a.prev,
  .custom-pagination a.next {
    width: auto !important;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .custom-pagination a.prev:hover,
  .custom-pagination a.next:hover {
    background: rgba(var(--color-black-rgb), 0.1);
  }
  
  /* custom tab nav on sidebar */
  .aside-block {
    margin-bottom: 30px;
  }
  
  .aside-block .custom-tab-nav .nav-item {
    display: inline-block;
  }
  
  .aside-block .custom-tab-nav .nav-item button {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
  }
  
  .aside-block .custom-tab-nav .nav-item button.active {
    background-color: var(--color-black) !important;
    background-color: transparent !important;
    color: var(--color-black);
    border-bottom: 2px solid var(--color-black);
  }
  
  .link-video {
    position: relative;
  }
  
  .link-video span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: rgba(var(--color-black-rgb), 0.2);
    color: var(--color-white);
  }
  
  .aside-links li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
  }
  
  .aside-links li a {
    display: block;
    color: rgba(var(--color-black-rgb), 0.7);
  }
  
  .aside-links li a:hover,
  .aside-links li a:focus {
    color: rgba(var(--color-black-rgb), 1);
  }
  
  .aside-tags li {
    display: inline-block;
  }
  
  .aside-tags li a {
    display: inline-block;
    color: rgba(var(--color-black-rgb), 0.7);
    padding: 7px 10px;
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
    margin-bottom: 3px;
    transition: 0.3s all ease;
  }
  
  .aside-tags li a:hover,
  .aside-tags li a:focus {
    color: rgba(var(--color-black-rgb), 1);
    border: 1px solid rgba(var(--color-black-rgb), 0.5);
  }
  
  


/*-------------------------------------
                Academics
--------------------------------------*/

.box-txt-right{
    padding-top: 35%;
    padding-right: 30%;
    padding-left: 50px;
    padding-bottom: 100px;
    
}
.box-txt-right h3{

    color: #eeeff6;
}
.box-txt-left{
   padding-top: 200px;
   color: #eeeff6;

}
.box-txt-left h1{
  
   color: #eeeff6;

}

.set-row-acdemic{
    background-image: url(../images/welcome-hero/welcome-banner.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
}

.box-text-section-sec p:last-child{
    color: #000000;
    font-size: 18px !important;
    margin: auto;
}
.box-text-section-sec p:first-child{
    color: #000000;
    font-size: 45px;
    text-align: center;
}

.box-btn-text-sec-sec{

    margin-top: 20px;
    margin-bottom: 40px;
}
.about-1{
   
    width: fit-content;
    margin: auto;
    color: #000000;
    font-weight: 700;
}

.box-trd-academic-left{
    padding-right:  ;
    
}
.picture-academic{
    background-image: url(../images/welcome-hero/welcome-banner.jpg);
    background-size: cover;
    width: 600px;
    height: 400px;
    margin-left: 300px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.text-IT{
    font-size: 40px;
    
}
.box-title-hmit{
    margin-top: 10%;
    margin-left: 30px;
    padding-right: 300px;
}

.about-2{
    width: fit-content;
    color: #000000;
    font-weight: 700;
}

.container{
    color: #000000;
    font-weight: 1000;
    padding-top: 10%;
}


/*-------------------------------------
                About
--------------------------------------*/

.box-txt-right{
    padding-top: 35%;
    padding-right: 30%;
    padding-left: 50px;
    padding-bottom: 100px;
    
}
.box-txt-right h3{

    color: #eeeff6;
}
.box-txt-left{
   padding-top: 200px;
   color: #eeeff6;

}
.box-txt-left h1{
  
   color: #eeeff6;

}


/*-------------------------------------
                Event
--------------------------------------*/
.head {
    position: relative;
    background:url(../images/welcome-hero/welcome-banner.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.everst{

}

.megabit{

}
/*-------------------------------------
                Sosmed Footer
--------------------------------------*/
.footer-social{
    background-color: #26294d;
}


/*-------------------------------------
                FOOTER
--------------------------------------*/
.contact {
    background: #232646;
}
.footer-top {padding: 112px 0 72px;}

/*.footer-logo*/
.footer-logo img{

    margin: 0 auto;
}
.footer-logo a,.footer-logo a:hover,.footer-logo a:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    text-transform:uppercase;
    text-align: center;
}
.single-footer-widget p {
    font-size: 14px;
    color: #eeeff6;
    max-width: 300px;
    margin:40px 0 20px;
}
.footer-contact p {
    margin: 0;
    color: #d1d7e9;
}

/*.footer-logo*/

.single-footer-widget {margin-bottom: 40px;}

.single-footer-widget h2 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px;
}
.single-footer-widget ul li {
    display:  inherit;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}

.single-footer-widget ul li a {
    font-size:  14px;
    color:  #cfd0e3;
    font-weight:  300;
    padding-bottom: 13px;
}

.center-footer{
    position: relative;
    text-align: center;
    left: 10%;
}

.footer-newsletter p{
    color: #aeafc2;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px;
}
/*hm-foot-email*/
.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#26294d;
    
    display: block;
    padding: 15px 20px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}
.foot-email-box input[type="text"]{
    font-size: 12px;
    color: #ffff;
    font-weight: 300;
}
.foot-email-box ::placeholder{
    color: white;
}
.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #666c81;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}